@import "reset";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: georgia;
  line-height: 1.6em;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 10em;
}

a, a:visited, a:active {
  color: #0063D7;
  text-decoration: none;
  border-bottom: 1px solid #7EBAFF;
  &:hover {
    border-bottom-color: #0063D7;
  }
}

a img {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 2.5em 0 1.4em;
  line-height: 1.2em;
  position: relative;

  .anchor-link {
    position: absolute;
    border: none;
    left: -1.8rem;
    font-size: 2.4rem;
    top: 0;
    color: #eee;
    font-weight: bold;
    &:hover {
      color: #0063D7;
    }
  }
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

p {
  margin: 2em 0;
}

ul, ol {
  margin: 2em 0;
  li {
    margin: 1em 0;
  }
}

header {
  background: #70DAB6;
  padding: 3em 0 2em;
  text-align: center;
  color: white;
  h1 {
    // Hide text
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 268px;
    height: 280px;
    background: url("../images/iris-logo.png");
    margin: 0 auto;
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      background:url('../images/iris-logo@2x.png') no-repeat top left;
      background-size: 268px 280px;
    }
  }
  margin-bottom: 2em;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;

  h1:first-of-type {
    margin-top: 1em;
  }
}

blockquote {
  font-size: 1.05em;
  color: #023358;
  background: #F1F9FF;
  padding: 1.1em 1.5em;
  margin: 2em 0;

  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}


code {
  border: 1px solid #F3E751;
  background: #FFFAB9;
  padding: 0.05em 0.2em;
  font-size: 0.95em;
}


.gist {
  font-size: 0.8em;
  line-height: 1.2em;
}
pre code {
  display: block;
  font-size: 0.8em;
  white-space: pre;
  overflow: auto;
  padding: 0.4em 0.8em;
}




@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}
