<!doctype html>

<meta charset="utf-8">
<!-- For IE. Unfortunately this doesn't pass w3c validation. -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>IRIS</title>

<meta name="description" content="Iris is a complete abstraction of server ↔ client communication library written in dart.">
<meta name="author" content="Matias Meno">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/default.css">

<header>
  <h1>Iris</h1>
</header>

<div id="container">
  {{ content }}
</div>


<script>

var headings = document.querySelectorAll("#container h1, #container h2, #container h3");

for (var i = 0; i < headings.length; i++) {
  var heading = headings[i];
  if (heading.id) {
    var anchorLink = document.createElement("a");
    anchorLink.className = "anchor-link";
    anchorLink.href = "#" + heading.id;
    anchorLink.innerHTML = "#"
    heading.appendChild(anchorLink);
  }
}
</script>
